html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Lato;
    text-align: center;
}

.row {
    margin: 0;
}

.fullbody {
    background: #eee;
}

#map {
    height: 500px;
    width: 1000px;
    padding: 0px;
    text-align: center;
}

.pagetitle {
    font-size: 100px;
    font-weight: 100;
}

.map-screen {
    background-color: #2e2e2e;
}